:root {
    --background-color: white;
    --text-color: black;
}

.body {
    background-color: var(--background-color);
    color: var(--text-color);
}
/*.body {
    background-color: white;
    color: black;
}

.body--dark {
    background-color: black;
    color: white;
}*/